html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: #474747;
}

#content {
  width: 900px;
  height: 100%;
  margin: auto;
}
.fakeContent {
  color: #fcfcfc;
  font-size: large;
  margin: 6em 1em;
  display: flex;
  flex-direction: column;
  gap: 3em;
}
.fakeImg div {
  width: 600px;
  height: 300px;
  background-color: #777777;
  margin: auto;
}
#flowerPositioner {
  width: 100%;
  height: 360px;
  position: relative;
  margin: auto;
  background: #303560;
}
#flowerWrapper {
  width: 900px;
  height: 100px;
  margin: auto;
  padding-top: 2em;
  background: #303560;
  color: white;
  font-weight: bold;
}
#flower {
  width: 750px;
  height: 300px;
  position: absolute;
  left: calc(50% - 750px / 2);
}
.flowerCircle {
  position: relative;
}
.flowerTop {
  position: fixed;
  top: 0;
}
.petal1circle,
.petal2circle,
.petal3circle,
.petal4circle,
.petal5circle,
.petal1top,
.petal2top,
.petal3top,
.petal4top,
.petal5top {
  position: absolute;
  top: 0;
  width: 100px;
  height: 150px;
  transform-origin: bottom center;
  transition: rotate 1s, left 1s, right 1s;
}
.icon {
  width: 100%;
  text-align: center;
  transition: rotate 1s, left 1s, right 1s;
}

.petal1circle {
  rotate: 0deg;
  left: 50%;
}
.petal1top {
  left: 0px;
  rotate: 0deg;
}
.petal1circle .icon {
  rotate: 0deg;
}

.petal2circle {
  rotate: 72deg;
  left: 50%;
}
.petal2top {
  left: 150px;
  rotate: 0deg;
}
.petal2circle .icon {
  rotate: -72deg;
}

.petal3circle {
  rotate: 144deg;
  left: 50%;
}
.petal3top {
  left: 300px;
  rotate: 0deg;
}
.petal3circle .icon {
  rotate: -144deg;
}

.petal4circle {
  rotate: 216deg;
  left: 50%;
}
.petal4top {
  left: 450px;
  rotate: 0deg;
}
.petal4circle .icon {
  rotate: -216deg;
}

.petal5circle {
  rotate: 288deg;
  left: 50%;
}
.petal5top {
  left: 600px;
  rotate: 0deg;
}
.petal5circle .icon {
  rotate: -288deg;
}
