html {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 16px;
  color: #2f2f2f;
  background-color: #f9f9f9;
}
textarea {
    border-radius: .5rem;
    background-color: white;
    border-color: #1d77d7;
}
body {
  margin: 0;
  background-color: #f9f9f9;
}
.slider {
    width: 100%;
}

.donation-div {
  margin: 0 auto;
}
@media (min-width: 1580px) {
  
  .donation-div {
    position: fixed;
    right: 0;
    top: 0;
    margin: 1em;
  }
}
